						   
					 
<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/chofer/edit/{{chofer.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="nombre" value="{{chofer.nombre}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" class="form-control" placeholder="apellido" value="{{chofer.apellido}}">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" class="form-control" placeholder="telefono" value="{{chofer.telefono}}">
                </div>
                <div class="form-group">
                    <input type="text" name="cedula" class="form-control" placeholder="cedula" value="{{chofer.cedula}}">
                </div>
                <div class="form-group">
                    <input type="text" name="email" class="form-control" placeholder="email" value="{{chofer.email}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
							  
						   
                </div>
            </form>
        </div>

    </div>
</div>