<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Producto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos Registrados</li>
  </ol>
</nav>

<div class="row">
  <div class="col-10 d-flex justify-content-end">
    <a  href="/producto/add" type="button" class="btn btn-info align-self-center">Ingresar producto</a>
  </div>
</div>

<div class="container p-4">
        <table class="table table-bordered" style="background-color: white;">
            <tr>
            <th scope="col">codigo Principal</th>
            <th scope="col">codigo Auxiliar</th>
            <th scope="col">tipo Producto</th>
            <th scope="col">nombre Producto</th>
            <th scope="col">valor Unitario</th>
            <th scope="col">tarifa Iva</th>
            <th scope="col">tarifa Ice</th>
            <th scope="col">codigo Irbpnr</th>
            </tr>
        </thead>
        <tbody>

            {{#each producto}}
            <tr>
            <th scope="producto">{{this.codAuxiliar}}</th>
            <td>{{this.codAuxiliar}}</td>
            <td>{{this.tipoProducto}}</td>
            <td>{{this.nombreProducto}}</td>
            <td>{{this.valorUnitario}}</td>
            <td>{{this.idTarifaIvaFk}}</td>
            <td>{{this.idTarifaIceFk}}</td>
            <td>{{this.codIrbPnr}}</td>
            <td class="text-end">
                 <a class="btn btn-danger" href="/producto/delete/{{idproducto}}">
                        Eliminar
                    </a>
                    <a class="btn btn-secondary" href="/producto/edit/{{idproducto}}">
                        Editar
                    </a>
            </td>
            </tr>
            {{/each}}

        </tbody>
        </table>
</div>