						   
					 
<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/cliente/edit/{{cliente.idCliente}}" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" maxlength="48" class="form-control" placeholder="nombre" value="{{cliente.nombreCliente}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" maxlength="48" class="form-control" placeholder="apellido" value="{{cliente.apellidoCliente}}">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" maxlength="48" class="form-control" placeholder="telefono" value="{{cliente.telefonoCliente}}">
                </div>
                <div class="form-group">
                    <input type="text" name="cedula" maxlength="48" class="form-control" placeholder="cedula" value="{{cliente.cedulaCliente}}">
                </div>
                <div class="form-group">
                    <input type="text" name="email" maxlength="48" class="form-control" placeholder="email" value="{{cliente.emailCliente}}">
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" maxlength="48" class="form-control" placeholder="dirección" value="{{cliente.direccionCliente}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
							  
						   
                </div>
            </form>
        </div>

    </div>
</div>