
<div class="container p-4">
    <div class="row">
        {{#each cliente}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                        <h3 class="card-nombre text-uppercase">
                            {{nombreCliente}}
                        </h3>
                    
                    <p class="m-2">{{apellidoCliente}}</p>
                    <p class="m-2">{{telefonoCliente}}</p>
                    <p class="m-2">{{cedulaCliente}}</p>
                    <p class="m-2">{{emailCliente}}</p>
                    <p class="m-2">{{direccionCliente}}</p>
									 
							
                    
                    <a class="btn btn-danger" href="/cliente/delete/{{idCliente}}">
                        Delete cliente
                    </a>
                    <a class="btn btn-secondary" href="/cliente/edit/{{idCliente}}">
                        Edit
                    </a>
                    

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not cliente saved yet.</p>
                <a href="/cliente/add">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
    <section id ="search" class="search-wrap">
        <h1>Buscar un cliente</h1>
        <form action="/cliente/search" class="search-form">
            <i class="fas fa-search"></i>
            <input type="search" name="term" placeholder="Nombre">
            <input type="submit" value="Search">
        </form>
    </section>
</div>