<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Transacciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Factura</li>
  </ol>
</nav>
<h1 align="center">Factura</h1>
<hr>
<h1 align="center">Ingrese datos del emisor</h1>
<section id="search" class="search-wrap">
  
  
  <h3>Ingrese un número de cédula:</h3>
  <form action="/factura/add/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="Cedula">
    <input type="submit" value="Search">
  </form>
</section>
<div class="row">
  {{#each cliente}}
  <div class="col-md-4">
    <div class="card text-center">
      <div class="card-body">
        <form action="/factura/addFactura" method="POST">
          <input name="idCliente" class="form-control" type="hidden" id="idCliente" disabled value="{{idCliente}}">
          <div class="form-group">
            <label>Nombres: </label>&nbsp;&nbsp;
            <input name="nombreCliente" type="text" value="{{nombreCliente}}">
          </div>
          <div>
            <label>Identificación Cliente: </label>&nbsp;&nbsp;
            <input name="identificacionCliente" type="text" value="{{identificacionCliente}}">
          </div>
          <div>
            <label>Tipo Cliente: </label>&nbsp;&nbsp;
            <input name="tipoCliente" type="text" value="{{tipoCliente}}">
          </div>
          <div>
            <label>Direccion: </label>&nbsp;&nbsp;
            <input name="direccion" type="text" value="{{direccion}}">
          </div>
          <div>
            <label>Telefono: </label>&nbsp;&nbsp;
            <input name="telefono" type="text" value="{{telefono}}">
          </div>
          <div>
            <label>Email: </label>&nbsp;&nbsp;
            <input name="email" type="text" value="{{email}}">
          </div>
          <!--div class="form-group">
            <button class="btn btn-success btn-block">
              Save
            </button>
          </div-->
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col-md-4 mx-auto">
    <div class="card card-body text-center">
      <p>There are not cliente saved yet.</p>
      <a href="/cliente/add">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
<hr>
<h1 align="center">Ingrese datos del producto</h1>
<h2>Ingrese un producto:</h2>
<form action="/factura/add/searchProducto" class="search-form" id="formProducts">
  <i class="fas fa-search"></i>
  <input type="search" name="term" placeholder="Nombre producto">
  <input type="submit" value="Search">
</form>
</section>
<div class="row">
  {{#each producto}}
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">

        <div>
          <label>Código principal: </label>&nbsp;&nbsp;
          <input name="codPrincipal" type="text" value="{{codPrincipal}}">

        </div>
        <div>
          <label>Código auxiliar: </label>&nbsp;&nbsp;
          <input name="codAuxiliar" type="text" value="{{codAuxiliar}}">
        </div>
        <div>
          <label>Tipo producto: </label>&nbsp;&nbsp;
          <input name="tipoProducto" type="text" value="{{tipoProducto}}">
        </div>
        <div>
          <label>Nombre producto: </label>&nbsp;&nbsp;
          <input name="nombreProducto" type="text" value="{{nombreProducto}}">
        </div>
        <div>
          <label>Valor unitario: </label>&nbsp;&nbsp;
          <input name="valorUnitario" type="text" value="{{valorUnitario}}">
        </div>
        <div>
          <label>Tarifa Iva: </label>&nbsp;&nbsp;
          <input name="idTarifaIvaFk" type="text" value="{{idTarifaIvaFk}}">
        </div>
        <div>
          <label>TarifaIce: </label>&nbsp;&nbsp;
          <input name="idTarifaIceFk" type="text" value="{{idTarifaIceFk}}">
        </div>
        <div>
          <label>Código IrbPnr: </label>&nbsp;&nbsp;
          <input name="codIrbPnr" type="text" value="{{codIrbPnr}}">
        </div>
        <!--div class="form-group">
          <button class="btn btn-success btn-block">
            Save
          </button>
        </div-->

      </div>
    </div>
  </div>
  {{else}}
  <div class="col-md-4 mx-auto">
    <div class="card card-body text-center">
      <p>There are not cliente saved yet.</p>
      <a href="/cliente/add">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
<hr>
<form action="/factura/add" method="POST">
<h1 align="center">Ingrese datos del comprobante</h1>
<h2>Identificacion del comprobante :</h2>
<div class="form-group">
  <label>NRO: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="001-001-0000001">
</div>
<div class="form-group">
  <label>Clave Acceso: </label>&nbsp;&nbsp;
  <input name="claveAcceso" type="text" value="{{claveAcceso}}">
</div>
<div class="form-group">
  <label>Fecha de emisión: </label>&nbsp;&nbsp;
  <input type="date" id="fechainicio" name="fechainicio"
                        value="2021-01-01"
                        min="2020-01-01" max="2021-02-01">
</div>
<div class="form-group">
  <label>Guía de remisión: </label>&nbsp;&nbsp;
  <input name="guiaRemision" type="text" value="{{guiaRemision}}">
</div>


<hr>
<!--h1>Ingrese datos del emisor :</h1>
<div class="form-group">
  <label>Ruc: </label>&nbsp;&nbsp;
  <input name="numerofactura" type="text" value="0001">
</div>
<div class="form-group">
  <label>Nombre comercial: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Razon social Nombres y Apellidos: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Contribuyente especial: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Obligado a llevar contabilidad: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="Si">
</div>
<div class="form-group">
  <label>Direccion matriz: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Direccion establecimiento: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div-->
<h1>Datos del comprador:</h1>
<div class="form-group">
  <label>Consumidor Final: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Cédula: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Razón social/Nombres y Apellidos: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Dirección del comprador: </label>&nbsp;&nbsp;
  <input name="direccionComprador" type="text" value="{{direccionComprador}}">
</div>

<h1>Detalle de la factura:</h1>
<div class="form-group">
  <label>Cantidad: </label>&nbsp;&nbsp;
  <input name="cantidad" type="text" value="{{cantidad}}">
</div>
<div class="form-group">
  <label>Código principal: </label>&nbsp;&nbsp;
  <input name="codigoPrincipal" type="text" value="{{codigoPrincipal}}">
</div>
<div class="form-group">
  <label>Código auxiliar: </label>&nbsp;&nbsp;
  <input name="codigoAuxiliar" type="text" value="{{codigoAuxiliar}}">
</div>
<div class="form-group">
  <label>Descripción: </label>&nbsp;&nbsp;
  <input name="descripcionDetFact" type="text" value="{{descripcionDetFact}}">
</div>
<div class="form-group">
  <label>Precio unitario: </label>&nbsp;&nbsp;
  <input name="preciounitario" type="text" value="{{preciounitario}}">
</div>
<div class="form-group">
  <label>Subsidio: </label>&nbsp;&nbsp;
  <input name="subsidio" type="text" value="{{subsidio}}">
</div>
<div class="form-group">
  <label>Precio sin subsidio: </label>&nbsp;&nbsp;
  <input name="precioSinSub" type="text" value="{{precioSinSub}}">
</div>
<div class="form-group">
  <label>Descuento: </label>&nbsp;&nbsp;
  <input name="descuento" type="text" value="{{descuento}}">
</div>
<div class="form-group">
  <label>Valor total: </label>&nbsp;&nbsp;
  <input name="valorTotalDetFact" type="text" value="{{valorTotalDetFact}}">
</div>
<div class="form-group">
  <label>Valor ICE: </label>&nbsp;&nbsp;
  <input name="valorIce" type="text" value="{{valorIce}}">
</div>
<div class="form-group">
  <label>B.I. IRBPNR </label>&nbsp;&nbsp;
  <input name="biIrbpnr" type="text" value="{{biIrbpnr}}">
</div>
<div class="form-group">
  <label>IRBPNR: </label>&nbsp;&nbsp;
  <input name="irbpnr" type="text" value="{{irbpnr}}">
</div>
<div class="form-group">
  <label>Accion: </label>&nbsp;&nbsp;
  <input name="accion" type="text" value="{{accion}}">
</div>

<h1>Formas de Pago:</h1>
<div class="form-group">
  <label>Código: </label>&nbsp;&nbsp;
  <input name="codigoFormaPago" type="text" value="{{codigoFormaPago}}">
</div>
<div class="form-group">
  <label>Descripción: </label>&nbsp;&nbsp;
  <input name="descripcionFormaPago" type="text" value="{{descripcionFormaPago}}">
</div>
<div class="form-group">
  <label>Total: </label>&nbsp;&nbsp;
  <input name="totalFormaPago" type="text" value="{{totalFormaPago}}">
</div>
<div class="form-group">
  <label>Plazo: </label>&nbsp;&nbsp;
  <input name="plazo" type="text" value="{{plazo}}">
</div>
<div class="form-group">
  <label>Unidad de tiempo: </label>&nbsp;&nbsp;
  <input name="unidadTiempo" type="text" value="{{unidadTiempo}}">
</div>
<div class="form-group">
  <label>Accion: </label>&nbsp;&nbsp;
  <input name="accionFormaPago" type="text" value="{{accionFormaPago}}">
</div>
<h1>Valores a pagar:</h1>
<div class="form-group">
  <label>SUBTOTAL SIN IMPUESTOS: </label>&nbsp;&nbsp;
  <input name="subTotalSinImp" type="text" value="{{subTotalSinImp}}">
</div>
<div class="form-group">
  <label>SUBTOTAL 12.0: </label>&nbsp;&nbsp;
  <input name="subtotalDoce" type="text" value="{{subtotalDoce}}">
</div>
<div class="form-group">
  <label>SUBTOTAL 0%: </label>&nbsp;&nbsp;
  <input name="subtotal" type="text" value="{{subtotal}}">
</div>
<div class="form-group">
  <label>SUBTOTAL NO OBJETO DE IVA: </label>&nbsp;&nbsp;
  <input name="subTotalNoObjIva" type="text" value="{{subTotalNoObjIva}}">
</div>
<div class="form-group">
  <label>SUBTOTAL EXENTO DE IVA: </label>&nbsp;&nbsp;
  <input name="subTotalExcentoIva" type="text" value="{{subTotalExcentoIva}}">
</div>
<div class="form-group">
  <label>TOTAL DESCUENTO: </label>&nbsp;&nbsp;
  <input name="totalDescuento" type="text" value="{{totalDescuento}}">
</div>
<div class="form-group">
  <label>VALOR ICE: </label>&nbsp;&nbsp;
  <input name="totalValorIce" type="text" value="{{valorIce}}">
</div>
<div class="form-group">
  <label>IVA 12.0: </label>&nbsp;&nbsp;
  <input name="valorIva" type="text" value="{{valorIva}}">
</div>
<div class="form-group">
  <label>VALOR IRBPNR: </label>&nbsp;&nbsp;
  <input name="valorTotalIrb" type="text" value="{{valorTotalIrb}}">
</div>
<div class="form-group">
  <label>PROPINA 10%: </label>&nbsp;&nbsp;
  <input name="propina" type="text" value="{{propina}}">
</div>
<div class="form-group">
  <label>VALOR TOTAL: </label>&nbsp;&nbsp;
  <input name="valorTotal" type="text" value="{{valorTotal}}">
</div>
<div class="form-group col-md-4" >
                            <button class="btn btn-success btn-block">
                                Save2
                            </button>
                        </div>
</form>

<script>
  function logSubmit(event) {
    //alert(document.getElementById('idCliente').value);
    //log.textContent = `Form Submitted! Time stamp: ${event.timeStamp}`;
    event.preventDefault();
    window.location.replace(`/factura/add/searchProducto?idCliente=${document.getElementById('idCliente').value}&term=${event.target.term.value}`);
    //fetch(`/notacredito/add/searchProducto?idCliente=${document.getElementById('idCliente').value}&term=${event.target.term.value}`)
    // .then(response => response.json())
    //.then(data => console.log(data))
    //.catch(err => console.error(err));
  }
  const form = document.getElementById('formProducts');
  form.addEventListener('submit', logSubmit);

</script>

<!--div class="row">
                    <div class="input-field col l2 offset-l5 ">
                      <button id="btnEnviarFac" class="btn cyan waves-effect waves-light right" type="submit">Guardar
                        <i class="mdi-content-send right"></i>
                      </button>
                    </div>
                  </div-->
<!--div class="form-group">
            <button class="btn btn-success btn-block">
              Save
            </button>
</div-->               

<form action="/factura/add/Guardar" method="POST">
    <input type="submit" value="Enviar">
</form>