<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Transacciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Factura</li>
  </ol>
</nav>
<h1>Ingrese datos del emisor :</h1>
<div class="form-group">
  <label>Ruc: </label>&nbsp;&nbsp;
  <input name="numerofactura" type="text" value="0001">
</div>
<div class="form-group">
  <label>Nombre comercial: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Razon social Nombres y Apellidos: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Contribuyente especial: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Obligado a llevar contabilidad: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="Si">
</div>
<div class="form-group">
  <label>Direccion matriz: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Direccion establecimiento: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<h1>Identificacion del comprobante :</h1>
<div class="form-group">
  <label>NRO: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Clave Acceso: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Fecha de emisión: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Guía de remisión: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<h1>Datos del comprador:</h1>
<div class="form-group">
  <label>Consumidor Final: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Cédula: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Razón social/Nombres y Apellidos: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Dirección del comprador: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<h1>Detalle de la factura:</h1>
<div class="form-group">
  <label>Cantidad: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Código principal: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Código auxiliar: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Descripción: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Precio unitario: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Subsidio: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Precio sin subsidio: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Descuento: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Valor total: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Valor ICE: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>B.I. IRBPNR </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>IRBPNR: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Accion: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<h1>Formas de Pago:</h1>
<div class="form-group">
  <label>Código: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Descripción: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Total: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Plazo: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Unidad de tiempo: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>Accion: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<h1>Valores a pagar:</h1>
<div class="form-group">
  <label>SUBTOTAL SIN IMPUESTOS: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>SUBTOTAL 12.0: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>SUBTOTAL 0%: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>SUBTOTAL NO OBJETO DE IVA: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>SUBTOTAL EXENTO DE IVA: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>TOTAL DESCUENTO: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>VALOR ICE: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>IVA 12.0: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>VALOR IRBPNR: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>PROPINA 10%: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<div class="form-group">
  <label>VALOR TOTAL: </label>&nbsp;&nbsp;
  <input name="nombreCliente" type="text" value="{{nombreCliente}}">
</div>
<section id="search" class="search-wrap">
  <form action="/factura/addFactura" method="POST"></form>
  <h1>Ingrese un número de cédula:</h1>
  <form action="/factura/add/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="Cedula">
    <input type="submit" value="Search">
  </form>
</section>
<div class="row">
  {{#each cliente}}
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <form action="/factura/addFactura" method="POST">
          <input name="idCliente" class="form-control" type="hidden" id="idCliente" disabled value="{{idCliente}}">
          <div class="form-group">
            <label>Nombres: </label>&nbsp;&nbsp;
            <input name="nombreCliente" type="text" value="{{nombreCliente}}">
          </div>
          <div>
            <label>Identificación Cliente: </label>&nbsp;&nbsp;
            <input name="identificacionCliente" type="text" value="{{identificacionCliente}}">
          </div>
          <div>
            <label>Tipo Cliente: </label>&nbsp;&nbsp;
            <input name="tipoCliente" type="text" value="{{tipoCliente}}">
          </div>
          <div>
            <label>Direccion: </label>&nbsp;&nbsp;
            <input name="direccion" type="text" value="{{direccion}}">
          </div>
          <div>
            <label>Telefono: </label>&nbsp;&nbsp;
            <input name="telefono" type="text" value="{{telefono}}">
          </div>
          <div>
            <label>Email: </label>&nbsp;&nbsp;
            <input name="email" type="text" value="{{email}}">
          </div>
          <!--div class="form-group">
            <button class="btn btn-success btn-block">
              Save
            </button>
          </div-->
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col-md-4 mx-auto">
    <div class="card card-body text-center">
      <p>There are not cliente saved yet.</p>
      <a href="/cliente/add">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>


<h1>Ingrese un producto:</h1>
<form action="/factura/add/searchProducto" class="search-form" id="formProducts">
  <i class="fas fa-search"></i>
  <input type="search" name="term" placeholder="Nombre producto">
  <input type="submit" value="Search">
</form>
</section>
<div class="row">
  {{#each producto}}
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">

        <div>
          <label>Código principal: </label>&nbsp;&nbsp;
          <input name="codPrincipal" type="text" value="{{codPrincipal}}">

        </div>
        <div>
          <label>Código auxiliar: </label>&nbsp;&nbsp;
          <input name="codAuxiliar" type="text" value="{{codAuxiliar}}">
        </div>
        <div>
          <label>Tipo producto: </label>&nbsp;&nbsp;
          <input name="tipoProducto" type="text" value="{{tipoProducto}}">
        </div>
        <div>
          <label>Nombre producto: </label>&nbsp;&nbsp;
          <input name="nombreProducto" type="text" value="{{nombreProducto}}">
        </div>
        <div>
          <label>Valor unitario: </label>&nbsp;&nbsp;
          <input name="valorUnitario" type="text" value="{{valorUnitario}}">
        </div>
        <div>
          <label>Tarifa Iva: </label>&nbsp;&nbsp;
          <input name="tarifaIva" type="text" value="{{tarifaIva}}">
        </div>
        <div>
          <label>TarifaIce: </label>&nbsp;&nbsp;
          <input name="tarifaIce" type="text" value="{{tarifaIce}}">
        </div>
        <div>
          <label>Código IrbPnr: </label>&nbsp;&nbsp;
          <input name="codIrbPnr" type="text" value="{{codIrbPnr}}">
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block">
            Save
          </button>
        </div>

      </div>
    </div>
  </div>
  {{else}}
  <div class="col-md-4 mx-auto">
    <div class="card card-body text-center">
      <p>There are not cliente saved yet.</p>
      <a href="/cliente/add">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
</form>

<script>
  function logSubmit(event) {
    //alert(document.getElementById('idCliente').value);
    //log.textContent = `Form Submitted! Time stamp: ${event.timeStamp}`;
    event.preventDefault();
    window.location.replace(`/factura/add/searchProducto?idCliente=${document.getElementById('idCliente').value}&term=${event.target.term.value}`);
    //fetch(`/notacredito/add/searchProducto?idCliente=${document.getElementById('idCliente').value}&term=${event.target.term.value}`)
    // .then(response => response.json())
    //.then(data => console.log(data))
    //.catch(err => console.error(err));
  }
  const form = document.getElementById('formProducts');
  form.addEventListener('submit', logSubmit);

</script>